.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__header-wrapper {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0 27px 19px;

  &--products {
    padding: 31px 0 31px;
    position: relative;
    margin: 0 auto;
    width: 233px;
    border-bottom: none;
  }
}

.catalog__products {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 42px;
    background: linear-gradient(to right, #ffffff, 50%, #68b738 50%, #68b738);
  }
}

.catalog__food {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  width: 260px;
  padding: 0;
  margin: 0;
}

.catalog__header {
  margin: 0;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
  font-weight: 400;
  font-style: normal;
  text-align: left;

  &--else {
    font-size: 24px;
    line-height: 1;
    position: relative;
    z-index: 2;
    background: #ffffff;
    margin-left: -28px;
  }
}

.catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e6e6e6;

  &--wrapper {
    padding-bottom: 16px;
  }
}

.catalog__item-price {
  width: 280px;
  margin: 0 auto 14px;
  display: flex;
  justify-content: space-between;
  font-family: $font-arial;
}

.catalog__item-else {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 17px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__item-link {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-top: 23px;
  text-decoration: none;
  color: $second-color;
}

.catalog__item-wrapper {
  margin: 0 auto;
  width: 280px;
}

.catalog__block {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 5px;
}

.catalog__block-else {
  width: 280px;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 1;
  padding: 12px 0 23px;
  margin: 0 auto;
  text-decoration: none;
}

.catalog__block-link {
  text-decoration: none;
  cursor: pointer;
  width: 150px;
}

.catalog__table-field p {
  margin: 0;
  padding: 0;
}

.catalog__table-field {
  &:first-child {
    // margin: 0 64px 0 0;
    padding-right: 59px;
  }

  &:nth-child(2n) {
    text-align: right;
  }
}

.catalog__product {
  font-family: $font-oswald;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: $second-color;
  text-transform: uppercase;
  width: 77px;
  margin: 0;
}

.catalog__table {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: $main-color;
  // margin-top: 7px;
}

.catalog__item-text {
  text-align: center;
  font-family: $font-arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  color: $main-color;
  padding-bottom: 22px;
  margin: 8px 0 0;
}

.catalog__image {
  display: block;
  width: 140px;
  height: auto;
  margin-right: 7px;

  &--plus {
    opacity: 0.2;
  }
}

.catalog__show {
  font-weight: 400;
  margin: 20px 0 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;

    &--flex {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
    }
  }

  .catalog__header-wrapper {
    border-bottom: none;
    padding: 0;
    margin: 0 auto;

    &--products {
      width: 656px;
    }
  }

  .catalog__products::after {
    background: $background-leaf;
    top: 20px;
  }

  .catalog__item-price {
    margin: 20px 36px 0 0;
    font-size: 16px;
    width: 226px;

    &--value {
      width: 160px;
      margin-left: 66px;
      margin-top: 18px;
    }

    &--milk {
      width: 141px;
      margin-left: 85px;
      margin-top: 16px;
    }

    &--vitamins {
      margin-left: 9px;
      width: 217px;
      margin-top: 18px;
    }
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    box-sizing: border-box;
    border-bottom: none;
    margin: 0 59px 140px 0;
    background: $color-grey;
    background: rgba(222, 0, 6, 0.3);
    padding-bottom: 38px;

    &--plus {
      width: 31px;
      height: 31px;
    }

    &--wrapper {
      background: none;
      border: 1px solid #e6e6e6;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .catalog__item-else {
    width: 708px;
    background: transparent;
    border: 1px solid #e6e6e6;
    padding-bottom: 29px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 69px;
    }
  }

  .catalog__item-product {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item-text {
    font-size: 16px;
    line-height: normal;
    margin: 0 auto 56px;
    width: 168px;
  }

  .catalog__item-link {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    width: 160px;
    margin: 0 auto;
    padding-top: 56px;
  }

  .catalog__list {
    display: flex;
    width: 707px;
    flex-wrap: wrap;
  }

  .catalog__header {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 164px;
    padding: 0;
    position: relative;
    z-index: 2;
    background: #ffffff;

    &--else {
      width: 372px;
      font-size: 36px;
      text-align: left;
      margin-bottom: 75px;
      margin-top: 20px;
      padding-left: 52px;
    }
  }

  .catalog__product {
    font-size: 20px;
    line-height: 1;
    width: 137px;
    text-align: center;
    margin: 130px auto 28px;
  }

  .catalog__food {
    font-size: 20px;
    line-height: 1.21;
    // width: 445px;
  }

  .catalog__table {
    width: 248px;
    font-size: 16px;
    line-height: 1;
  }

  .catalog__table-field {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 5px 0;

    // &:first-child {
    //   padding-right: 79px;
    // }

    &--taste {
      padding-top: 8px;
    }

    &--price {
      padding-top: 8px;
    }

    &:nth-child(2n) {
      text-align: right;
    }
  }

  .catalog__block {
    display: block;
    width: auto;
    margin: 0 auto 33px;
  }

  .catalog__block-else {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 125px 0 38px;
  }

  .catalog__image {
    width: 324px;
    margin: 0 auto;

    &--plus {
      width: 61px;
      height: 61px;
    }

    &--pro {
      height: 201px;
    }

    &--fish {
      height: 203px;
    }

    &--buckwheat {
      height: 200px;
    }
  }

  .catalog__block-link {
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    margin-top: -85px;
    width: auto;
  }

  .catalog__show {
    padding-top: 23px;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;

    &--flex {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 86px;
      width: 1220px;
      padding: 0;
    }
  }

  .catalog__wrapper {
    &--food {
      width: 1300px;
      margin: 0 auto 86px;
    }
  }

  .catalog__block {
    width: 169px;
    margin: -60px auto 0;
  }

  .catalog__block-else {
    margin: 0;
    padding: 0;
    width: 322px;
    text-align: left;
  }

  // .catalog__header {
  //   &--else {
  //     margin-left: 24px;
  //   }
  // }

  .catalog__product {
    margin: 160px auto 12px;
  }

  .catalog__table {
    width: 171px;
    padding-bottom: 31px;
  }

  .catalog__image--buckwheat {
    height: auto;
  }

  .catalog__table-field {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 8px;

    &--taste {
      padding: 5px 0 10px;
    }

    &--price {
      padding: 7px 0 5px;
    }

    // &:first-child {
    //   padding: 0;
    // }
  }

  .catalog__item {
    width: 245px;
    padding: 0;
    padding-bottom: 33px;
    margin: 0 80px 142px 0;

    &--wrapper {
      background: none;
      border: 1px solid #e6e6e6;
    }

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 59px;
    }

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__item-price {
    // margin: 0 86px 0 0;
    padding-top: 12px;
    margin: 20px 37px 0 0;
  }

  .catalog__item-else:last-child {
    margin-bottom: 0;
  }

  .catalog__item-else {
    width: 900px;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    .catalog__item-else {
      &--water {
        margin-right: 0;
      }
    }
  }

  .catalog__header-wrapper {
    padding: 0;

    &--products {
      margin: 0 auto;
      width: 1270px;
    }
  }

  .catalog__list {
    width: 1220px;

    &--food {
      width: 900px;
      margin: 0 71px 0 43px;
    }
  }

  .catalog__food {
    width: 170px;
    font-size: 20px;
    margin: 0;
    padding: 26px 0 0;
  }

  .catalog__block-link {
    margin-top: -77px;
    margin-bottom: 14px;
  }

  .catalog__image {
    width: 245px;
  }

  .catalog__item-price,
  .catalog__item-price--value {
    width: 287px;
  }
}
