.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__header-wrapper {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0 27px 19px;

  &--products {
    padding: 31px 0 30px 0;
    width: 280px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }
}

.catalog__header-wrapper--products::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 3px;
  top: 42px;
  right: -19px;
  background-color: $background-leaf;
}


.catalog__food {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  width: 260px;
  padding: 0;
}

.catalog__header {
  margin: 0;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
  font-weight: 400;
  font-style: normal;
  text-align: left;

  &--else {
    font-size: 24px;
    line-height: 1;
  }
}

.catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__item-price {
  width: 280px;
  margin: 0 auto 14px;
  display: flex;
  justify-content: space-between;
}

.catalog__item-else {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 17px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.catalog__item-link {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding-top: 27px;
  text-decoration: none;
  color: $second-color;
}

.catalog__item-wrapper {
  margin: 0 auto;
  width: 280px;
}

.catalog__block {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.catalog__block-else {
  width: 280px;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 1;
  padding: 14px 0 14px 0;
  margin: 0 auto;
  text-decoration: none;
}

.catalog__block-link {
  text-decoration: none;
  cursor: pointer;
}

.catalog__table-field p {
  margin: 0;
  padding: 0;
}

.catalog__table-field {
  &:first-child {
    // margin: 0 64px 0 0;
    padding-right: 68px;
  }

  &:nth-child(2n) {
    text-align: right;
  }
}

.catalog__product {
  font-family: $font-oswald;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: $second-color;
  text-transform: uppercase;
  width: 77px;
  margin: 25px 0 18px 0;
}

.catalog__table {
  font-family: $font-arial;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: $main-color;
}

.catalog__item-text {
  text-align: center;
  font-family: $font-arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.33;
  color: $main-color;
  padding-bottom: 22px;
}

.catalog__image {
  display: block;
  width: 140px;
  height: auto;
  margin-right: 7px;

  &--plus {
    opacity: 0.2;
  }

  .catalog__show {
    font-weight: 500;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;

    &--flex {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
    }
  }

  .catalog__header-wrapper {
    width: 768px;
    border-bottom: none;
    padding: 0;
    margin-top: 63px;
  }

  .catalog__header-wrapper--products::after {
    width: 103%;
    top: 20px;
    left: -18px;
  }

  .catalog__item-price {
    margin-top: 33px;
    font-size: 16px;
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
    box-sizing: border-box;
    border-bottom: none;
    margin: 0 57px 154px 0;
    background: $color-grey;
    // background: lemonchiffon;

    &--plus {
      width: 31px;
      height: 31px;
    }

    &--wrapper {
      background: none;
      border: 1px solid #e6e6e6;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  .catalog__item-else {
    width: 708px;
    background: transparent;
    border: 1px solid #e6e6e6;
    padding-bottom: 40px;

    &:last-child {
      margin-bottom: 69px;
    }
  }

  .catalog__item-product {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item-text {
    font-size: 16px;
    line-height: normal;
    margin: 0 auto 56px;
    width: 168px;
  }

  .catalog__item-link {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    width: 160px;
    margin: 0 auto;
  }

  .catalog__list {
    display: flex;
    width: 707px;
    flex-wrap: wrap;
  }

  .catalog__header {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 173px;
    padding: 0;
    position: relative;
    z-index: 2;
    background: #ffffff;

    &--else {
      width: 384px;
      font-size: 36px;
      text-align: left;
      margin-bottom: 75px;
      padding-left: 15px;
    }
  }

  .catalog__product {
    font-size: 20px;
    line-height: 1;
    width: 137px;
    text-align: center;
    margin: 0 auto 28px;
  }

  .catalog__food {
    font-size: 18px;
    width: 445px;
  }

  .catalog__table {
    width: 248px;
    font-size: 16px;
    line-height: 1;
  }

  .catalog__table-field {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 10px 0;

    &:first-child {
      padding-right: 79px;
    }

    &:nth-child(2n) {
      text-align: right;
    }
  }

  .catalog__block {
    display: block;
    width: auto;
    margin: 0 auto 33px;
  }

  .catalog__block-else {
    font-size: 16px;
    line-height: 1.25;
  }

  .catalog__image {
    width: 324px;
    margin: 0 auto;

    &--plus {
      width: 61px;
      height: 61px;
    }
  }

  .catalog__block-link {
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    margin-top: -89px;
  }

  // .catalog__item-wrapper {
  //   padding-top: 55px;
  // }

  .catalog__show {
    padding-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;

    &--flex {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 86px;
      width: 1220px;
      padding: 0;
    }
  }

  .catalog__wrapper {
    &--food {
      width: 900px;
      margin-right: 74px;
    }
  }

  .catalog__block {
    width: 169px;
    margin: -60px auto 0;
  }

  .catalog__block-else {
    margin: 0;
    padding: 0;
    width: 284px;
    text-align: left;
  }


  .catalog__product {
    margin: 0 auto;
  }

  .catalog__table {
    width: 185px;
    padding-bottom: 33px;
  }

  .catalog__table-field {
    border-bottom: 1px solid #e6e6e6;

    &:first-child {
      padding: 0;
    }
  }

  .catalog__item {
    width: 245px;
    padding: 0;
    padding-bottom: 33px;
    margin: 0 80px 129px 0;

    // background-color: rgba(173, 255, 47, 0.2);

    &--wrapper {
      background: none;
      border: 1px solid #e6e6e6;
    }

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 59px;
    }

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__item-price {
    margin: 0 86px 0 0;
    padding-top: 27px;
  }

  .catalog__item-else:last-child {
    margin-bottom: 0;
  }

  .catalog__item-else {
    width: 900px;
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    .catalog__item-else {
      &--water {
        margin-right: 0;
      }
    }
  }

  .catalog__header-wrapper {
    padding: 0;

    &--products {
      width: 100%;
      margin: 0;
    }
  }

  .catalog__header-wrapper--products::after {
    width: 106%;
    top: 20px;
    left: -38px;
  }

  .catalog__list {
    width: 1220px;
  }

  .catalog__food {
    width: 170px;
    font-size: 20px;
    margin: 0;
    padding: 27px 0 0;
  }

  .catalog__block-link {
    margin-top: -80px;
    margin-bottom: 18px;
  }

  .catalog__image {
    width: 245px;
  }
}
