.catalog-button {
  font-size: 16px;
  line-height: 1.25;
  margin: 0 auto;
  padding: 13px 106px 12px 111px;
  word-break: break-all;
}

.catalog-button__show {
  padding: 18px 28px 16px;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  background-color: $color-grey;
  color: $main-color;

  &:hover {
    background-color: $button-hover-show-all;
  }

  &:active {
    background-color: $button-hover-show-all;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog-button {
    padding: 13px 91px 12px 95px;

    &--else {
      padding: 13px 283px 12px 282px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-button {
    padding: 13px 52px 12px 53px;

    &--else {
      padding: 13px 91px 12px 93px;
      margin: 15px 0;
    }
  }

  .catalog-button__show {
    display: inline-block;
    padding: 18px 45px 16px;
  }
}
