.copyright__develop {
  font-family: $font-arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  color: $main-color;
  width: 116px;
}

.copyright__logo-image {
  font-family: $font-arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-decoration: none;
  color: $main-color;
  width: 27px;
  height: 34px;
}
