.example {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-grey;
  width: 100%;
  padding: 33px 20px 44px;
  box-sizing: border-box;
  margin: 0 auto;
  background-size: cover;
}

.example__wrapper {
  min-width: 300px;
  margin: 0 auto;
}

.example__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 28px;
}

.example__description {
  width: 300px;

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }
}

.example__description-main {
  width: 124px;

  &--weight {
    margin-right: 28px;
  }
}

.example__text {
  margin: 0;
  padding: 0;
  width: 266px;
  font-family: $font-arial;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  margin-bottom: 27px;
}

.example__description-volume {
  font-family: $font-oswald;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: $second-color;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &--weight {
    padding: 18px 41px;
  }

  &--days {
    padding: 18px 20px;
  }
}

.example__description-text {
  width: 51px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  margin-top: -33px;
  margin-left: 18px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $color-grey;
}

.example__description-cash {
  font-family: $font-oswald;
  color: $second-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.example__label {
  width: 41px;
  font-size: 16px;
  line-height: 1.25;
  color: $second-color;
  text-transform: uppercase;
  cursor: pointer;
}

.example__range {
  width: 84px;
  position: relative;
  display: block;
  margin: 3px 18px;
}

.example__scale {
  width: 84px;
  height: 14px;
  display: block;
  background-color: $color-sub;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example__button {
  width: 35px;
  height: 6px;
  position: absolute;
  display: block;
  background-color: $background-leaf;
  border: 0;
  border-radius: 3px;
  top: 5px;
  left: 6px;
}

.toggle {
  position: relative;
  padding-bottom: 36px;
}

.example__items {
  margin: 0 auto 39px;
}

.example__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.example__item--after {
  display: none;
}

.example__control {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 3;
}

.example__img {
  position: relative;
  display: block;
  width: 320px;
  height: 240px;
}

@media (min-width: $tablet-width) {
  .example {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2, 50%, #eaeaea 169px, #eaeaea);
    background-size: cover;
  }

  .example__wrapper {
    background: #ffffff;
    box-sizing: border-box;
    width: 100%;
    background-size: cover;
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    padding-left: 35px;
    width: 768px;
    margin: 0 auto 29px;
    box-sizing: border-box;
  }

  .example__description {
    &--wrapper {
      padding: 0 0 0 35px;
      width: 768px;
      margin: 0 auto 86px;
      box-sizing: border-box;
    }
  }

  .example__text {
    font-size: 16px;
    line-height: 1.5;
    width: 768px;
    padding: 0 90px 0 35px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .example__description-text {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1;
    width: 100px;
    margin-top: -38px;
  }

  .example__description-volume {
    font-size: 30px;
    line-height: 1.23;

    &--weight {
      padding: 18px 0;
    }
  }

  .example__description-main {
    width: 162px;
    margin-right: 60px;

    &--weight {
      margin-right: 42px;
    }
  }

  .example__description-cash {
    font-size: 20px;
    line-height: 1;
    width: 192px;
    text-align: right;
    margin-top: 41px;
  }

  .example__toggle {
    position: relative;
  }

  .example__items {
    display: flex;
    width: 768px;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0;
  }

  .example__item {
    &--before {
      position: relative;
      top: 0;
      bottom: 0;
      z-index: 3;
      width: 44%;
      left: 5%;
      overflow: hidden;
    }

    &--after {
      display: block;
      z-index: 2;
    }
  }

  .example__img {
    position: relative;
    width: 676px;
    max-width: 690px;
    height: 520px;

    &--after {
      position: absolute;
      clip: rect(auto, auto, auto, 332px);
      left: 5%;
    }
  }

  .example__label {
    font-size: 20px;
    line-height: 1;
    width: 55px;
    border-bottom: 1px dotted #bfbfbf;
  }

  .example__control {
    width: 707px;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 75px;
  }

  .example__range {
    width: 428px;
    padding: 10px 0;
    margin: 0 24px 0 21px;
  }

  .example__scale {
    width: 428px;
    height: 6px;
    border: 0;
    background-color: #dcdcdc;
  }

  .example__button {
    display: block;
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 34px;
    height: 34px;
    top: -4px;
    left: 47%;
  }

  .example__button::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $background-leaf;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #f2f2f2, #f2f2f2, 75%, #eaeaea 169px, #eaeaea);
  }

  .example__wrapper {
    width: 460px;
    background: #f2f2f2;
  }

  .example__item {
    &--before {
      left: 7%;
    }
  }

  .example__text {
    width: 550px;
    padding: 36px 0 33px 111px;
    box-sizing: border-box;
  }

  .example__description-main {
    margin-right: 30px;
  }

  .example__description-cash {
    width: 550px;
    text-align: left;
    margin-top: 37px;
    margin-left: 0;
  }

  .example__description-food {
    text-align: left;
    margin-right: 60px;
  }

  .example__description--wrapper {
    width: 430px;
    padding: 0;
    margin: 0 0 0 113px;
  }

  .example__title {
    margin-bottom: 109px;
    background: #ffffff;
    padding-bottom: 0;
    padding-left: 110px;
    margin-top: -111px;
  }

  .example__description-text {
    width: 110px;
    background-color: $color-grey;
  }

  .example__control {
    width: 600px;
    padding: 46px 0 0 0;
    margin: 0;
    margin-left: 67px;
  }

  .example__items {
    width: 722px;
    flex-wrap: wrap;
    top: -155px;
    right: -76px;
  }
}
