.form__wrapper {
  width: 320px;
  margin: 0 auto 34px;
  text-transform: uppercase;
}

.form__header {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $second-color;
  text-transform: none;
  margin: 13px 20px 25px;
  display: block;

  &--second {
    font-size: 24px;
    line-height: 1;
    text-align: left;
    font-weight: normal;
    margin: 18px 20px 26px;
    position: relative;
    text-transform: none;
  }

  &--comment {
    font-size: 24px;
    line-height: 1;
    margin: 15px 0 31px;
    position: relative;
  }

  &--else {
    position: relative;
  }
}

.form__header--second::after {
  content: "";
  position: absolute;
  width: 99px;
  height: 3px;
  top: 20%;
  right: -19px;
  background-color: #68b738;
}

.form__header--comment::after {
  content: "";
  position: absolute;
  width: 158px;
  height: 3px;
  top: 43%;
  left: 140px;
  background-color: #68b738;
}

.form__header--else::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 3px;
  top: 43%;
  left: 162px;
  background-color: #68b738;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  width: 226px;
  text-transform: uppercase;
  color: $second-color;
  margin: 0 20px 29px;
}

.form__parametrs {
  display: flex;
  width: 280px;
  flex-wrap: wrap;
  margin: 0 auto 34px;
  box-sizing: border-box;

  &--second {
    padding: 29px 0 26px 20px;
    box-sizing: border-box;
  }
}

.form__border {
  border-bottom: 1px solid #e6e6e6;
}

.form__label {
  margin-bottom: 14px;
  flex-shrink: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label-text {
  font-size: 16px;
  line-height: 18px;
  margin-right: 15px;
  color: #222222;

  &--weight {
    margin-right: 21px;
  }

  &--margin {
    margin-right: 11px;
  }
}

.form__label-input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-color;
  padding: 15px 16px;
  width: 229px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;

  &--weight {
    width: 200px;
    padding: 12px 16px;
  }

  &--years {
    width: 172px;
    padding: 13px 16px;
  }

  &--email {
    width: 219px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 92%;
    background-size: 18px 14px;
  }

  &--phone {
    width: 204px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 92%;
    background-size: 21px 21px;
  }
}

.form__label-input--email:invalid,
.form__label-input--phone:invalid {
  outline: 2px solid #ff8282;
}

.form__label-input:focus,
.form__label-input:active {
  outline: 2px solid #444444;
}

.form__input:checked + .form__radio::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 65%;
  left: 16px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #68b738;
  cursor: pointer;
}

.form__input + .form__radio::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 65%;
  left: 16px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.form__radio {
  margin: 26px 0 27px 0;
  padding-left: 54px;
  position: relative;
  display: block;


  &::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: -4px;
    left: 0%;
  }

  &--first {
    margin-right: 205px;
  }

  &--second {
    margin-right: 90px;
  }
}

.form__radio:hover::before,
.form__radio:focus::before {
  border: 1px solid #bababa;
}

.form__radio:active {
  opacity: 0.3;
}

.form__parametrs--second input[type="checkbox"]:checked + label::before,
.form__parametrs--second input[type="radio"]:checked + label::before {
  display: block;
}

.form__radio:hover::after {
  border: 1px solid #bfbfbf;
}

/*textarea*/
.form__textarea {
  width: 280px;
  margin-right: auto;
  padding: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.form__textarea:focus,
.form__textarea:active {
  outline: 2px solid #444444;
}

/*form__checkbox*/
.form__fieldset {
  padding: 0;
  border: none;
}

.form__main {
  margin: 0 auto;
  padding: 10px 0 0;
  width: 170px;
  color: #444444;
  text-transform: none;
  font-family: $font-arial;
}

.form__choice-label {
  font-size: 16px;
  line-height: 1.13;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: #222222;
  margin: 15px 0;
}

.form__choice-label::before {
  content: "";
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
}

.form__choice-label:active {
  opacity: 0.3;
}

.form__choice-label:hover::before,
.form__choice-label:focus::before {
  border: 1px solid #bababa;
}

.form__choice:checked + .form__choice-label::after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  content: "";
  cursor: pointer;
  border-radius: 50%;
  background-color: $background-leaf;
}


/*Дополнительно*/
.form__checkbox-label {
  display: flex;
  font-size: 16px;
  line-height: 1.13;
  color: #222222;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin: 0 0 -24px;
}

.form__checkbox-label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  border: 1px solid #e7e7e7;
  cursor: pointer;
}

.form__checkbox-label:active {
  opacity: 0.3;
}

.form__checkbox-label:hover::before,
.form__checkbox-label:focus::before {
  border: 1px solid #bababa;
}

.form__checkbox:checked + .form__checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form__textarea:invalid {
  outline: 2px solid #ff8282;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .form__header {
    width: 450px;
    font-size: 60px;
    line-height: 1;
    text-align: left;
    text-transform: none;
    margin: 0 0 53px 32px;
    padding: 0;

    &--comment {
      font-size: 36px;
      margin: 49px 0 71px;
    }

    &--else {
      margin-bottom: 54px;
    }

    &--second {
      width: 516px;
      font-size: 36px;
      margin: 0 0 78px 71px;
    }
  }

  .form__header--comment::after {
    height: 3px;
    top: 56%;
    width: 440px;
    left: 249px;
  }

  .form__header--comment::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 3px;
    top: 56%;
    left: -70px;
    background-color: #68b738;
  }

  .form__header--second::after {
    width: 151px;
    top: 62%;
    right: -178px;
  }

  .form__header--second::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 3px;
    top: 62%;
    left: -69px;
    background-color: #68b738;
  }

  .form__text {
    width: 322px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    padding: 0;
    margin: 0 0 69px 70px;
  }

  .form__parametrs {
    width: 621px;
    box-sizing: border-box;
    margin: 0 auto;

    &--wrapper {
      width: 768px;
      display: flex;
      flex-wrap: wrap;
    }

    &--width {
      width: 160px;
      margin: 0 177px 0 0;
    }

    &--width:nth-child(2n) {
      margin: 0;
    }

    &--flex {
      width: 219px;
      margin: 0 0 34px;
    }

    &--textarea {
      margin-bottom: 62px;
    }

    &--button {
      margin-bottom: 72px;
    }
  }

  .form__label {
    width: 620px;
    box-sizing: border-box;
    margin-bottom: 26px;

    &--parametrs {
      display: block;
      margin-bottom: 20px;
    }
  }

  .form__label-text {
    font-size: 20px;
    line-height: 1;

    &--weight {
      margin-right: 19px;
    }
  }

  .form__label-input {
    width: 89%;

    &--weight,
    &--phone {
      width: 84%;
    }

    &--years {
      width: 78%;
      margin-bottom: 72px;
    }

    &--email {
      width: 87%;
    }
  }

  .form__border {
    border: none;

    &--weight {
      border: 1px solid #cdcdcd;
      margin-bottom: 74px;
    }
  }

  .form__choice-label {
    font-size: 20px;
    line-height: 1em;
    margin: 17px 0 0 22px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form__fieldset {
    padding-bottom: 18px;
  }

  .form__choice:checked + .form__choice-label::after {
    width: 20px;
    height: 20px;
    top: 11px;
    left: 11px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 1em;
  }

  .form__checkbox-label::before {
    width: 40px;
    height: 40px;
  }

  .form__checkbox:checked + .form__checkbox-label::after {
    width: 40px;
  }

  .form__textarea {
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
  }

  .form__main {
    width: 180px;
    font-size: 16px;
    line-height: 1;
    margin: 0 0 0 61px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 1220px;
  }

  .form__parametrs {
    width: 1216px;

    &--cat {
      width: 570px;
    }

    &--textarea {
      margin-bottom: 77px;
    }

    &--width {
      width: 219px;
      margin-right: 106px;
      margin-bottom: 50px;
    }

    &--width:nth-child(2n) {
      margin-right: 106px;
      margin-bottom: 50px;
    }

    &--width:last-child {
      margin-right: 0;
      margin-bottom: 50px;
    }

    .form__parametrs--flex {
      margin: 0;
    }
  }

  .form__header {
    margin-bottom: 57px;

    &--second {
      margin-bottom: 76px;
    }
  }

  .form__header,
  .form__text {
    margin-right: 330px;
    margin-left: 0;
  }

  .form__border {
    &--wrapper {
      width: 568px;
    }

    &--weight {
      margin-left: 75px;
      margin-bottom: 66px;
      width: 570px;
    }
  }

  .form__header--second::before,
  .form__header--comment::before {
    width: 29px;
    top: 62%;
    left: -30px;
  }

  .form__header--comment::after {
    width: 1000px;
    top: 62%;
    left: 48%;
  }

  .form__label {
    width: 590px;
    margin-bottom: 18px;

    &--parametrs {
      margin-right: 36px;
    }
  }

  .form__label-text {
    margin-right: 11px;

    &--margin {
      margin-right: 18px;
    }
  }

  .form__label-input {
    padding: 16px 17px;

    &--weight {
      width: 84%;
    }

    &--years {
      width: 77%;
    }

    &--email {
      width: 82%;
    }

    &--phone {
      width: 80%;
    }
  }

  .form__main {
    margin: 0 0 0 81px;
  }
}
