.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    width: 436px;
    display: flex;
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 707px;
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
    // background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    // background-size: cover;
  }
}
