.modal {
  position: fixed;
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-family: $font-oswald;
}

.modal-title {
  width: 280px;
  margin: 40px auto 0;
  font-size: 15px;
}

.modal__catalog {
  top: 96px;
  left: 0;
  display: none;
  width: 320px;
  padding: 60px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 26px;
  right: 30px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: $background-leaf;
  border: 0;
  cursor: pointer;
  z-index: 3;
}

.modal-close::before,
.modal-close::after {
  content: "";

  width: 37px;
  height: 3px;
  top: 24px;
  left: 10px;

  position: absolute;
  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

@media (min-width: $tablet-width) {
  .modal__catalog {
    left: 40px;
    width: 665px;
  }

  .modal-title {
    width: 320px;
    font-size: 18px;
  }
}
