.page-food {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  box-sizing: border-box;
}

.page-food__header {
  font-family: $font-oswald;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  color: $color-sub;
  padding: 27px 35px 25px 36px;
}

.page-food__info {
  font-size: 14px;
  line-height: 1;
  color: $color-sub;
  text-transform: uppercase;
  padding: 0 0 27px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-food {
    display: flex;
    flex-wrap: wrap;
    width: 709px;
    background: none;
    margin: 0 auto;
  }

  .page-food__info {
    font-size: 20px;
    line-height: 1;
    color: $second-color;
    text-align: left;
    margin-left: 89px;
    position: relative;
    padding: 0;
  }

  .page-food__header {
    width: 420px;
    color: $second-color;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0;
    margin: 0 0 40px 87px;
  }
}

@media (min-width: $desktop-width) {
  .page-food {
    display: flex;
    width: 720px;
    min-height: 1px;
  }

  .page-food__header {
    margin-bottom: 0;
  }
}
