.page-main {
  margin: 0 auto;
}

.page-main__img {
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .page-main__img {
    position: relative;
    z-index: 3;
    width: 709px;
    height: 609px;
    top: 18px;
    left: 48px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    background: none;
    width: 1220px;
  }

  .page-main__img {
    width: 552px;
    height: 499px;
    top: -266px;
    left: 482px;
  }
}
