.page-food {
  background: linear-gradient(to bottom, #68b738, #68b738, 306px, #ffffff 169px, #ffffff);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%, auto;
  text-align: center;
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: linear-gradient(to bottom, #68b738, #68b738, 306px, #ffffff 169px, #ffffff);
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 100%, auto;
    background-repeat: no-repeat;
  }
}

.page-food__header {
  font-family: $font-oswald;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  color: $color-sub;
  padding: 27px 35px 25px 36px;
}

.page-food__info {
  width: 200px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  color: $color-sub;
  text-transform: uppercase;
  padding: 0 0 27px;
}

@media (min-width: $tablet-width) {
  .page-food {
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    background: none;
    margin: 0 auto;
  }

  .page-food__info {
    font-size: 20px;
    line-height: 1;
    color: $second-color;
    text-align: left;
    margin-left: 70px;
    position: relative;
    padding: 0;
    width: 285px;
  }

  .page-food__header {
    width: 420px;
    color: $second-color;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding: 0;
    margin: 0 0 40px 72px;
  }
}

@media (min-width: $desktop-width) {
  .page-food {
    display: flex;
    flex-wrap: wrap;
    width: 1061px;
    max-height: 476px;
    margin: 0 auto;
    margin-bottom: 372px;
  }

  .page-food__header {
    width: 423px;
    margin: 0 361px 33px 0;
  }

  .page-food__info {
    margin: 0;
    height: 30px;
  }
}
