.page-main {
  margin: 0 auto;
}

.page-main__img {
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .page-main__img {
    position: relative;
    z-index: 3;
    width: 709px;
    height: 609px;
    top: 18px;
    left: 48px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    background: none;
  }

  .page-main__wrapper {
    margin-top: 77px;
    margin-bottom: 129px;
    margin-left: 109px;
    margin-right: 10px;
  }
}
