.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  width: 191px;
  height: 60px;
  padding-left: 20px;
  cursor: pointer;
  display: inline-block;
  padding-top: 10px;
}

.page-header a[href] {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 750px;
    margin: 22px auto 36px;
    flex-direction: row;
  }

  .page-header__wrapper {
    display: flex;
    width: 768px;
    padding: 0;
  }

  .page-header__logo {
    margin-right: 96px;
    height: 83px;
    width: 174px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    margin: 0 auto 59px;
    box-sizing: border-box;
    position: relative;

    &--cat {
      width: 100%;
    }

    &--cat::before {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: 0;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-color: #63a73a;
      background-position: 0%;
      background-size: cover;
      z-index: 1;
      height: 696px;
      width: 50%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .page-header__wrapper {
    width: 1300px;
    padding-left: 38px;
    padding-top: 53px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .page-header__logo {
    width: 610px;
    height: 113px;
    padding: 0;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
