.site-list__item {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $second-color;
  text-transform: uppercase;
  padding: 24px 51px 20px 50px;
}

.site-list__link {
  color: $second-color;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    font-size: 18px;
    line-height: 1.39;
    padding: 0 20px 0 0;
  }

  .site-list__item:nth-child(3n) {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    font-size: 20px;
    line-height: 1.25;
    color: $color-sub;
  }
}
