.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: normal;
}

.site-list__link {
  display: block;
  padding: 22px 0;

  color: $second-color;
  text-decoration: none;
  cursor: pointer;

  &--padding {
    padding-bottom: 24px;
  }
}

.site-list a[href] {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    font-size: 18px;
    line-height: 1.39;
    font-weight: normal;
    padding: 0 33px 0 0;

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;

        height: 3px;

        background: $background-leaf;
      }
    }

    .site-list__item:nth-child(3n) {
      padding: 0;
    }

    .site-list a[href] {
      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}


@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: 1.25;
    color: $color-sub;
  }

  .site-list__item {
    &--active {
      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;

        height: 3px;

        background: $background-base;
      }
    }
  }
}
