$color-grey: #f2f2f2;
$main-color: #444444;
$second-color: #111111;
$color-sub: #ffffff;

$font-arial: "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;

/*body*/
$background-base: #ffffff;
$background-button: #68b738;
$tablet-width: 768px;
$desktop-width: 1440px;
