$color-grey: #f2f2f2;
$main-color: #444444;
$second-color: #111111;
$color-sub: #ffffff;
$background-base: #ffffff;
$background-button: #68b738;

$font-arial: "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;
